# Build directories
bin/
obj/

# Build logs
*.log

# NuGet packages directory
artifacts/

# Visual Studio
.vs/

# JetBrains Rider
.idea/

# BenchmarkDotNet
BenchmarkDotNet.Artifacts/

# User-specific files
*.suo
*.user
download/
build/native/pack/
tests/NetVips.Benchmarks/images
!tests/NetVips.Benchmarks/images/sample2.v
