{{!include(/^styles/.*/)}}
{{!include(/^fonts/.*/)}}
{{!include(favicon.ico)}}
{{!include(logo.svg)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
  {{>partials/head}}
  <body>
    <div id="wrapper">
      {{{conceptual}}}
    </div>
  </body>
</html>