{{!include(/^styles/.*/)}}
{{!include(/^fonts/.*/)}}
<!DOCTYPE html>
<!--[if IE]><![endif]-->
<html>
  {{>partials/head}}
  <body data-spy="scroll" data-target="#affix">
    <div id="wrapper">
      {{{conceptual}}}
    </div>
    {{>partials/scripts}}
  </body>
</html>